@import '../../styles/overall/variables'

.card
  min-width: 100%
  &__image
    margin-bottom: 24px
    border-radius: $border-radius-big
    overflow: hidden

  &__img
    display: block
    width: 100%

  &__title
    margin-bottom: 8px
    font-family: "Montserrat"
    font-size: $fz-small-title
    font-weight: $fw-bold
    line-height: $lh-medium
    text-transform: uppercase
    color: $color-primary
    letter-spacing: 0.01em

  &__text
    font-size: $fz-small
    line-height: $lh-default
    color: $color-black
