.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 40px 0 20px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  display: block;
  padding: 8px 12px;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #5101a6;
  background-color: #fff;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.header__link:hover {
  color: #fff;
  background-color: #5101a6;
}
