html {
  box-sizing: border-box;
  line-height: 1.15;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Montserrat', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  font-style: normal;
  color: #000;
  background-color: #fff;
}

*,
::after,
::before {
  box-sizing: inherit;
}

button,
select {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.page-wrapper {
  overflow: hidden;
}
